<h1>APIs de Google Maps</h1>

<button (click)="getGeolocation()">Localizarme</button>

<select name="cars" id="cars">
  <option value=1>1</option>
  <option value=15>15</option>
  <option value=20>20</option>
</select>

<div *ngIf="isLocated">
  <img
    src="{{ apiGoogleMapsUrl }}/staticmap?center={{ geolocation.lat + ',' + geolocation.lng }}&zoom={{
      sliderZoom
    }}&size=800x300&markers={{ geolocation.lat + ',' + geolocation.lng }}{{ geoMarkers }}&key={{ apiGoogleMapsKey }}"
  />
</div>
{{ geoDirection }}
