<h1>APIs de Google Maps</h1>

<button (click)="getGeolocation()">Localizarme</button>
<p>
  <select name="ddpZoom" id="ddpZoom" [(ngModel)]="sliderZoom">
    <option *ngFor="let i of listOptions" [value]="i">{{ i }}</option>
  </select>
</p>
<div class="slidecontainer">
  <input type="range" min="1" max="20" [(ngModel)]="sliderZoom" [value]="sliderZoom" class="slider" id="myRange" />
  {{ sliderZoom }}
</div>
<div *ngIf="isLocated">
  <img
    src="{{ apiGoogleMapsUrl }}/staticmap?center={{ geolocation.lat + ',' + geolocation.lng }}&zoom={{
      sliderZoom
    }}&size=800x300&markers={{ geolocation.lat + ',' + geolocation.lng }}{{ geoMarkers }}&key={{ apiGoogleMapsKey }}"
  />
</div>
{{ geoDirection }}
